*{
  margin: 0;
  outline: none;
}
.width-box .row{
   max-width: 1728px;
   width: 100%;
   margin: 0 auto;
}
section, header, footer{
  padding-left: 7%;
  padding-right: 7%;
}
.containerStart{
  height: 100vh;
  background-image: url('./Img/fondo-hiperespacial.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  align-content: center;
}
.d-flex-center{
  display: flex;
  justify-content: center;
}
.btn-Start{
  width: 70%;
  background-color: transparent;
  border: 5px solid #87F54E;
  padding: 10px;
}
.Personajes-Planetas-Episodios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
