*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none !important;
  list-style: none;
}
.width-box .row{
   max-width: 1728px;
   width: 100%;
   margin: 0 auto;
}
main{
  font-family: 'Krub', sans-serif;
  color: white;
}
section, header, footer{
  padding-left: 7%;
  padding-right: 7%;
}
section{
  margin-bottom: 3%;
}
.containerStart{
  height: 100vh;
  background-image: url('./Img/fondo-hiperespacial.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  align-content: center;
}
.d-flex-center{
  display: flex;
  justify-content: center;
}
.logoPrincipal{
  margin-bottom: 40px;
}
.btn-Start{
  width: 20%;
  background-color: transparent;
  border: 5px solid #87F54E;
  padding: 10px;
  margin-top: 50px;
}
.Personajes-Planetas-Episodios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.characterContainer{
  background-image: url('./Img/fondo-estrellado.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    /* background-color: #2727279c; */
    margin-bottom: 30px;
    position: sticky;
    background-color: #2727279c;
    width: -webkit-fill-available;
    z-index: 777;
    top: 0;
}
.menu{
    display: flex;
    gap: 100px;
    font-size: 20px;
    font-weight: bold;
}
.menu a{
    color: #87F54E;
    font-size: 20px;
    font-weight: bold;
}
.grid-item-center{
    display: grid;
    justify-items: center;
}
.inputFilter{
  width: 249px;
  height: 56px;
  background: transparent;
  border: 4px solid #87F54E;
  border-radius: 10px;
  padding-left: 30px;
  color: #87F54E;
}
.inputFilter::placeholder{
  color: #87F54E;
}
/* .formM{
  display: flex;
  gap: 20px;
} */
.sectionCharacter{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.c-img {
  margin-bottom: -5px;
}
.c-img img{
  border-radius: 35px 35px 0 0;
  width: 100%;
  height: 260px;
}
.c-info {
  height: 130.12px;
  background: #87F54E;
  border-radius: 0 0 35px 35px;
  padding: 20px;
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
}
.c-info h3{
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-size: 18px;
  color: #4D4D4D;
}
.c-info .descripcion{
  font-family: 'IBM Plex Mono';
  font-size: 15px;
  color: #4D4D4D;
}
.btnGO{
  position: absolute;
  width: 64.85px;
  height: 51.04px;
  left: 155px;
  bottom: 140px;
  background: #272727;
  border: 4px solid #87F54E;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 25%);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #87F54E;
  font-size: 28px;
  font-weight: bold;
}
.btnGO:hover{
  box-shadow: 0px 0px 13px 0px #87F54E inset;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
}
.footerM{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #2727279c;
  padding: 20px 7% 20px 7%;
}
.gitHub{
  display: flex;
  align-items: center;
  gap: 15px;
}
.gitHub p{
 color: #FFFF;
 font-size: 20px;
 font-weight: bold;
}
.logoFooter{
  border-right: 1px solid;
  padding-right: 40px;
}
/* Inicio de personaje detalles  */
.personajeDetalles{
  background: white;
  border-radius: 46px;
  padding: 60px 40px;
}
.img-personajeDetalles{
  border-radius: 46px;
  border: 4px solid #000;
  height: 100%;
}
.listaDeDatos {
  padding-left: 0rem;
}
.listaDeDatos li{
  display: flex;
  gap: 7px;
}
.detallesBox{
  position: relative;
  background: #87F54E;
  border-radius: 25px;
  border: 2px solid #4D4D4D;
  padding: 20px;
  color: #4D4D4D;
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom: 20px;
}
.detallesBox h3{
  border-bottom: 2px solid #4D4D4D;
  padding-bottom: 12px;
  width: max-content;
}

@media (max-width: 1130px) {
  .footerM{
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .logoFooter {
    border-right: none;
    padding-right: 0;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .menu{
    padding: 15px 0 15px;
  }
  .containerGitHub{
    place-self: center;
  }
}
